# ignore these files
templates\app-gateway-waf-v1.json
templates\app-gateway-waf-v2.json
templates\teamsAppService_copy.json
templates\teamsAppService.json
templates\teamsAppStorage.json
templates\to_delete.json